Flask==2.0.2
flask_restful==0.3.9
imutils==0.5.4
numpy==1.17.1
pandas==0.25.1
Werkzeug==2.0.2
opencv-python-headless
#tensorflow-cpu==2.7.0
tensorflow==2.0.1
keras==2.7.0
flask_cors==3.0.10
gunicorn==19.7.1